/* Reset */

*,
*::before,
*::after {
      box-sizing: border-box;
}

* { 
    padding: 0;
    margin: 0;
    font: inherit;
}

img,
svg,
picture, 
video {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* General */

/* Header style */

header {
    height: 50px;
    background-color: #FF6900;
}

.h-col-left {
    flex-basis: 20%;
    padding: 15px 0;
    color: white;
    word-spacing: 1rem;
}

.h-col-mid {
    flex-basis: 60%;
    text-align: center;
    padding: 15px 0;
}

.h-col-right {
    flex-basis: 20%;
    padding: 15px;
    text-align: right;
    color: white;
}

#logo {
    width: 6rem;
}

/* Main style */

.products {
    margin-top: 80px;
    justify-content: space-between;
}

.main-col-left {
    background-color: blue;
    flex-basis: 33%;
    position: relative;
}

.main-col-mid {
    background-color: blue;
    flex-basis: 33%;
    position: relative;
}

.main-col-right {
    background-color: blue;
    flex-basis: 33%;
    position: relative;
}

.product {
    width: 100%;
    height: 100%;
}

.red-sticker {
    position: absolute;
    background-color: red;
    bottom: 10%;
    padding: 5px;
    color: white;
}

.green-sticker {
    position: absolute;
    background-color: green;
    bottom: 10%;
    left: 12%;
    padding: 5px;
    color: white;
}

.green-sticker-esprite {
    position: absolute;
    background-color: green;
    bottom: 10%;
    padding: 5px;
    color: white;
}

.heartbox {
    background-color: white;
    position: absolute;
    left: 90%;
    bottom: 90%;
    padding: 15px;
}

h2 {
    font-weight: bold;
}

/* Footer style */

footer {
    height: 50px;
    background-color: black;
    margin-top: 80px;
}

.botcol-left {
    flex-basis: 50%;
    color: white;
}

.botcol-right {
    text-align: right;
    flex-basis: 50%;
    color: white;
}


