/* Reset */

*,
*::before,
*::after {
      box-sizing: border-box;
}

* { 
    padding: 0;
    margin: 0;
    font: inherit;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

body {
    min-height: 100vh;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* General */

/* Header style */

.bar {
    height: 50px;
    background-color: orange;
}

.h-col-left {
    border: 2px dashed black;
    flex-basis: 20%;
    padding: 10px 0;
}

.h-col-mid {
    border: 2px dashed black;
    flex-basis: 60%;
    text-align: center;
    padding: 10px 0;
}

.h-col-right {
    border: 2px dashed black;
    flex-basis: 20%;
    padding: 10px;
}

/* Main style */

.products {
    height: 350px;
    background-color: grey;
    margin-top: 20px;
    justify-content: space-between;
}

.main-col-left {
    background-color: blue;
    height: 350px;
    flex-basis: 33%;
}

.main-col-mid {
    background-color: blue;
    height: 350px;
    flex-basis: 33%;
}

.main-col-right {
    background-color: blue;
    height: 350px;
    flex-basis: 33%;
}

/* Footer style */

.sub-bar {
    height: 50px;
    background-color: black;
    margin-top: 20px;
}

.botcol-left {
    border: 2px dashed white;
    flex-basis: 50%;
    color: white;
}

.botcol-right {
    border: 2px dashed white;
    flex-basis: 50%;
    color: white;
}


