/* Reset */

*,
*::before,
*::after {
      box-sizing: border-box;
}

* { 
    padding: 0;
    margin: 0;
    font: inherit;
}

img,
svg,
picture,
video {
    max-width: 100%;
}

body {
    min-height: 100vh;
}