/* Reset */

*,
*::before,
*::after {
      box-sizing: border-box;
}

* { 
    padding: 0;
    margin: 0;
}

img,
svg,
picture, 
video {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* General */

/* Header style */

header {
    height: 50px;
    background-color: #FF6900;
}

.h-col-left {
    flex-basis: 20%;
    padding: 15px 0;
    color: white;
    word-spacing: 1rem;
}

.h-col-mid {
    flex-basis: 60%;
    text-align: center;
    padding: 15px 0;
}

.h-col-right {
    flex-basis: 20%;
    padding: 15px;
    text-align: right;
    color: white;
}

#logo {
    width: 6rem;
}

/* Main style */

.products {
    margin-top: 80px;
    justify-content: space-between;
}

.main-col-left {
    flex-basis: 33%;
    position: relative;
}

.main-col-mid {
    flex-basis: 33%;
    position: relative;
}

.main-col-right {
    flex-basis: 33%;
    position: relative;
}

.product-relaxed {
    height: 700px;
    background-image: url(../img/1.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.product-relaxed:hover {
    width: 100%;
    height: 100%;
    background-image: url(../img/1b.webp);
}

.product-roses {
    height: 700px;
    background-image: url(../img/2.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.product-roses:hover {
    width: 100%;
    height: 100%;
    background-image: url(../img/2b.webp);
}

.product-pastello {
    height: 700px;
    background-image: url(../img/3.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.product-pastello:hover {
    width: 100%;
    height: 100%;
    background-image: url(../img/3b.webp);
}

.product-tee {
    height: 700px;
    background-image: url(../img/4.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.product-tee:hover {
    width: 100%;
    height: 100%;
    background-image: url(../img/4b.webp);
}

.product-stripe {
    height: 700px;
    background-image: url(../img/5.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.product-stripe:hover {
    width: 100%;
    height: 100%;
    background-image: url(../img/5b.webp);
}

.product-black {
    height: 700px;
    background-image: url(../img/4.webp);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.product-black:hover {
    width: 100%;
    height: 100%;
    background-image: url(../img/4b.webp);
}


.red-sticker {
    position: absolute;
    background-color: red;
    bottom: 10%;
    right: 88.5%;
    padding: 5px;
    color: white;
}

.green-sticker {
    position: absolute;
    background-color: green;
    bottom: 10%;
    left: 12%;
    padding: 5px;
    color: white;
}

.green-sticker-esprite {
    position: absolute;
    background-color: green;
    bottom: 10%;
    right: 74.5%;
    padding: 5px;
    color: white;
}

.heartbox {
    background-color: white;
    position: absolute;
    left: 90%;
    bottom: 90%;
    padding: 15px;
}

.new-price {
    color: red;
    margin-right: 5px;
}

.old-price {
    text-decoration: line-through;
}

/* Footer style */

footer {
    height: 100px;
    background-color: black;
    margin-top: 80px;
}

.botcol-left {
    flex-basis: 50%;
    color: white;
    padding-top: 15px;
    line-height: 35px;
}

.botcol-right {
    text-align: right;
    flex-basis: 50%;
    color: white;
    padding-top: 15px;
    line-height: 35px;
}

.fa-brands {
    padding-right: 5px;
}


